.card-disciplina{
    background-color: rgb(155, 163, 207);
    max-width: 250px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 20px auto;

}